@charset "UTF-8";

/* paleta de cores */
:root {
    --cor01: #ffffff;
    --cor02: #000000;
    --cor03: #051923;
    --cor04: #3D0C11;
}

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor03);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 490px;
    background-color: var(--cor01);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47);
    /* Coloque o tranfrom em último */
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    height: 200px;
    background: var(--cor03) url(../imagens/imagem-loginprojeto.jpg) no-repeat center;
    background-size: cover;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario>p {
    font-size: 0.8em;
}

div.campo>label {
    display: none;
}

div.campo>span {
    color: var(--cor01);
    background-color: var(--cor03);
    font-size: 2em;
    width: 40px;
    height: 39px;
    padding: 5px;
}

div.campo>input {
    background-color: var(--cor04);
    border: 2px solid var(--cor04);
    font-size: 1em;
    /* calc é uma função para calcular */
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;

    /* Sempre que for fazer transform animação, faça-o na última linha */
    transform: translateY(-12px);
}

div.campo>input:focus-within {
    background-color: var(--cor01);
}

form>div.campo {
    background-color: var(--cor04);
    width: 100%;
    display: block;
    height: 39px;
    border-radius: 8px;
    margin: 5px 0px;
}

form>input[type=submit] {
    cursor: pointer;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor04);
    color: var(--cor01);
    border: none;
    border-radius: 5px
}

form>input[type=submit]:hover {
    background-color: var(--cor03);
}

form>a.botao {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    color: var(--cor02);
    background-color: var(--cor01);
    border: 1px solid var(--cor03);
    border-radius: 5px
}

form>a.botao:hover {
    background-color: var(--cor03);
    color: var(--cor01);
}

form>a.botao>span {
    font-size: 0.8em;
}